<?xml version="1.0"?>
<config>
    <modules>
        <Tig_Flespakket>
            <version>1.1.1</version>
        </Tig_Flespakket>
    </modules>
    <global>
        <blocks>
            <flespakket>
                <class>Tig_Flespakket_Block</class>
            </flespakket>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Tig_Flespakket_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <flespakket>
                <class>Tig_Flespakket_Helper</class>
            </flespakket>
        </helpers>
        <models>
            <flespakket>
                <class>Tig_Flespakket_Model</class>
                <resourceModel>flespakket_mysql4</resourceModel>
            </flespakket>
            <flespakket_mysql4>
                <class>Tig_Flespakket_Model_Mysql4</class>
            </flespakket_mysql4>
        </models>
        <resources>
            <flespakket_sales_setup>
                <setup>
                    <module>Tig_Flespakket</module>
                    <class>Tig_Flespakket_Model_Sales_Mysql4_Setup</class>
                </setup>
            </flespakket_sales_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <flespakket>
                <use>standard</use>
                <args>
                    <module>Tig_Flespakket</module>
                    <frontName>flespakket</frontName>
                </args>
            </flespakket>
        </routers>
        <layout>
            <updates>
                <flespakket>
                    <file>flespakket.xml</file>
                </flespakket>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <flespakket>
                    <file>flespakket.xml</file>
                </flespakket>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <flespakket>
            <flespakket_general>
                <flespakket_url>http://www.flespakket.nl</flespakket_url>
                <tracktrace_url_nl>https://mijnpakket.postnl.nl/Inbox/Search?</tracktrace_url_nl>
                <tracktrace_url_eu>https://www.internationalparceltracking.com/Main.aspx#/track/</tracktrace_url_eu>
                <print_size>0</print_size>
                <username></username>
                <api_key></api_key>
                <pakjegemak>0</pakjegemak>
                <tracktrace>0</tracktrace>
                <tracktrace_template>0</tracktrace_template>
                <tracktrace_identity>general</tracktrace_identity>
                <tracktrace_bcc>0</tracktrace_bcc>
                <tracktrace_bcc_email></tracktrace_bcc_email>
                <default_store>0</default_store>
                <status_updates>1</status_updates>
                <all_in_one>0</all_in_one>
            </flespakket_general>
        </flespakket>
    </default>
</config>